<div class="container center">
    <form [formGroup]="registerForm" (ngSubmit)="postData()">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <h1 class="h3 mb-3 font-weight-normal text-center">New Student Registration Form</h1>
                            
                            <span style="color: red"
                                *ngIf="!registerForm.get('name').valid && registerForm.get('name').dirty">*</span>
                            <input
                                [ngClass]="{'error': !registerForm.get('name').valid && registerForm.get('name').dirty, 'correct': registerForm.get('name').valid}"
                                formControlName="name" type="text" class="form-control" placeholder="Complete Name">    
                        </div>
                        <div class="form-group">
                            
                            <span style="color: red"
                                *ngIf="!registerForm.get('college').valid && registerForm.get('college').dirty">*</span>
                            <input
                                [ngClass]="{'error': !registerForm.get('college').valid && registerForm.get('college').dirty, 'correct': registerForm.get('college').valid}"
                                formControlName="college" type="text" class="form-control" placeholder="College Name">    
                        </div>
                        <div class="form-group">
                            
                            <span style="color: red"
                                *ngIf="!registerForm.get('email').valid && registerForm.get('email').dirty">*</span>
                            <input
                                [ngClass]="{'error': !registerForm.get('email').valid && registerForm.get('email').dirty, 'correct': registerForm.get('email').valid}"
                                formControlName="email" type="email" class="form-control" placeholder="Email address">    
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                      <input type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">
                    </div>
                  </div>
        
    </form>
    
</div>
